Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Werkzeug==3.0.1
python-dotenv==1.0.0
WTForms==3.1.1
email-validator==2.1.0.post1
firebase-admin
numpy
reportlab
scikit-learn
sqlalchemy
flask
flask-sqlalchemy
gunicorn
werkzeug
email-validator
Flask
Flask-SQLAlchemy
Flask-WTF
gunicorn
python-dotenv
reportlab
sqlalchemy
Werkzeug
WTForms